{% extends 'base.html' %}

{% block content %}
        <div class="post-entry">
            <h2>{{ Post.title }}</h2>
            <p>{{ Post.body }}</p>

            <h2>{{ object.title }}</h2>
        <p>{{ object.body }}</p>

        <h2>{{ anything_you_want.title }}</h2>
            <p>{{ anything_you_want.body }}</p>
        </div>

    <a href="{% url 'post_edit' post.pk %}">+ Edit Blog Post</a>
    <p><a href="{% url 'post_delete' post.pk %}">+ Delete Blog Post</a></p>
    {% endblock content %}
